@import url("https://fonts.googleapis.com/css2?family=Fustat:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fustat:wght@300&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #000;
}
.header-container {
  background: #0a0f0d;
  padding-inline: 16px;
}
.nav {
  max-width: 1280px;
  height: 8vh;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-gamezone {
  font-family: Poppins, sans-serif;
  font-size: 26px;
  color: #66c0f4;
}
.lista-nav {
  display: flex;
  gap: 20px;
}
ul li {
  list-style: none;
}
.lista-nav li {
  text-transform: uppercase;
}
.mobile-menu {
  display: none;
}
.mobile-menu-icon {
  display: none;
}
.jogos-principal {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.titulo {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}
.titulo-contato {
  display: flex;
  justify-content: left;
  padding-top: 100px;
  padding-left: 200px;
}
.form-container {
  width: 400px;
  background: linear-gradient(#0a0f0d, #0a0f0d) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  margin: 25px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}
.dispositivos {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.botao {
  background-color: #555;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  transition: background 0.3s;
}

.botao:hover {
  background-color: #777;
}
.imagens-flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 322px;
  padding-top: 25px;
  gap: 5px;
}
.ver-jogos {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.botao-jogos {
  width: 268px;
  height: 66px;
  background-color: #6247aa;
  color: #000;
  border: none;
  border-radius: 5px;
}
.rodape {
  background-color: #0a0f0d;
  max-width: 1500px;
  height: 200px;
  margin-top: 25px;
  padding-top: 50px;
  padding-left: 50px;
  display: flex;
  justify-content: space-around;
}
.rodape li {
  list-style: none;
}
.rodape li:hover {
  color: #66c0f4;
}
.gamezone-rodape {
  font-size: 30px;
  color: #66c0f4;
}

@media (max-width: 1024px) {
  .botao-jogos {
    margin-top: 100px;
  }
  .rodape {
    margin-top: 380px;
  }
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box;
    z-index: 1000;
  }
  .lista-nav {
    display: none;
  }
  .logo-gamezone {
    font-size: 22px;
    padding-top: 15px;
  }
  .mobile-menu-icon {
    display: flex;
    align-items: center;
  }
  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-top: 15px;
  }
  .mobile-menu {
    display: block;
    position: fixed;
    top: 60px;
    right: 0;
    width: 70%;
    background-color: rgba(10, 15, 13, 0.9);
    border-radius: 0 0 10px 10px;
    padding: 16px;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }
  .mobile_nav_list {
    padding-left: 15px;
  }
  .titulo {
    justify-content: space-between;
    font-size: 10px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  h1 {
    justify-content: center;
  }
  .botao-jogos {
    margin-top: 500px;
  }
  .imagens-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 500px;
  }
  .form-container {
    width: 100%;
    padding: 16px;
  }
  .rodape {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 15px;
    padding-top: 5px;
    font-size: 14px;
    margin-top: 20px;
    position: sticky;
  }
  .gamezone-rodape {
    font-size: 20px;
  }
  .lista2-rodape {
    padding-top: 10px;
  }
  .icons-social {
    font-size: 20px;
    align-items: center;
  }
}

.mobile-menu.active {
  transform: translateX(0);
}

.hide {
  display: none;
}

.dispositivos .clicked {
  background-color: purple;
  color: black;
}

.gameCard {
  width: 200px;
  height: fit-content;
  position: relative;
}

.gameCard img {
  display: inline-block;
  width: 200px;
  height: 300px;
}

.imagens-flex {
  margin-top: 20px;
}

.stars-container {
  display: flex;
  position: absolute;
  bottom: 4.5px;
  width: 100%;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.44);
}

.stars-container img {
  margin: 0px 5px;
  width: 20px;
  height: 35px;
}

.stars-container img:hover {
  cursor: pointer;
}

.favbutton {
  color: #000;
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0.5;
}

.favbutton:hover{
  opacity: 1;
}

.fav-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  padding: 20px;
}

.fav-grid img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}
.overlayScreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #31313199;
}

/* 
.upperLayer {
  width: 200px;
  height: 40px;
  position: absolute;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.788), black);
  bottom: 35px;
} */